@model QuyetTienWeb.Models.BangSanPham

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa sản phẩm</h2>

<h3>@*Are you sure you want to delete this?*@</h3>
<div>
    @*<h4>BangSanPham</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>Mã sản phẩm :</dt>

        <dd>@Html.DisplayFor(model => model.MaSP)</dd>

        <dt>Tên sản phẩm :</dt>

        <dd>@Html.DisplayFor(model => model.TenSP)</dd>

        <dt>Giá bán :</dt>

        <dd>@Html.DisplayFor(model => model.GiaBan)</dd>

        <dt>Giá gốc :</dt>

        <dd>@Html.DisplayFor(model => model.GiaGoc)</dd>

        <dt>Giá góp :</dt>

        <dd>@Html.DisplayFor(model => model.GiaGop)</dd>

        <dt>Số lượng tồn :</dt>

        <dd>@Html.DisplayFor(model => model.SoLuongTon)</dd>

        <dt>Loại :</dt>

        <dd>@Html.DisplayFor(model => model.LoaiSanPham.TenLoai)</dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
