@model IEnumerable<QuyetTienWeb.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
}

<h2>Quản lý sản phẩm</h2>

<p>
    @Html.ActionLink("Tạo mới", "Create", null, new { @class = "btn btn-primary" })

</p>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<input id="myInput" type="text" placeholder="Search..">
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>Mã sản phẩm</th>
            <th>Tên sản phẩm</th>
            <th>
                Giá bán
            </th>
            <th>
                Giá gốc
            </th>
            <th>Giá góp
            </th>
            <th>Số lượng tồn
            </th>
            <th>Tên loại</th>
            <th>Ảnh SP</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenSP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaBan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGoc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GiaGop)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuongTon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                </td>
                <td><img src="@Url.Action("Details", new { id = item.id })" width="150" height="100" /></td>
                <td>
                    
                    <a class=" btn btn-warning" href="@Url.Action("Edit",new {id = item.id})">
                        <i class="fas fa-pencil-alt"></i>
                    </a>
                    <a class="btn btn-info" href="@Url.Action("Details", new { id = item.id })">
                        <i class="fas fa-info"></i>
                    </a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", new { id = item.id })">
                        <i class="far fa-trash-alt"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
        <script>
            $(document).ready(function () {
                $('#table_id').DataTable();
            });
    </script>
}