@model DMQuyetTien.Models.BangSanPham

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa sản phẩm này?</h3>
<div>
    <h4>Bảng Sản Phẩm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.MaSP)*@
            Mã SP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaSP)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TenSP)*@
            Tên SP
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.GiaBan)*@
            Giá bán
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaBan)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.GiaGoc)*@
            Giá gốc
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaGoc)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.GiaGop)*@
            Giá góp
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiaGop)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.SoLuongTon)*@
            Số lượng tồn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuongTon)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.LoaiSanPham.TenLoai)*@
            Tên Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSanPham.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" />
            @Html.ActionLink("Trở về", "Index", null, new {@class = "btn btn-info" })
        </div>
    }
</div>
