@model IEnumerable<QuyetTienWeb.Models.BangSanPham>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Table Product
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Sale Price</th>
                        <th>Origin Price</th>
                        <th>Installment Price</th>
                        <th>Quantity</th>
                        <th>Product Type</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Product Code</th>
                        <th>Product Name</th>
                        <th>Sale Price</th>
                        <th>Origin Price</th>
                        <th>Installment Price</th>
                        <th>Quantity</th>
                        <th>Product Type</th>
                        <th>Option</th> 
                    </tr>
                </tfoot>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MaSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenSP)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaBan)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaGoc)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.GiaGop)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SoLuongTon)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-success" })  
                                @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class="btn btn-info"})
                                @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>